<ion-header>
  <ion-navbar>
    <ion-title>
      Pontuação
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row padding *ngIf="signed_in && loading" style="text-align: center">
    <ion-spinner></ion-spinner>
    Carregando lista...
  </ion-row>
  <ion-row class="centralise" *ngIf="!signed_in" padding>
    <button ion-button color="primary" large block (click)="signIn()">
      Entrar com Facebook
    </button>
  </ion-row>
  <ion-list inset *ngIf="signed_in && !loading">
    <ion-item *ngFor="let ranking of rankings">
      <ion-avatar item-start>
        <img src="{{ranking.imageUrl}}">
      </ion-avatar>
      <h2 style="white-space: pre-wrap;">{{ranking.name}}</h2>
      <p>{{ranking.points}}</p>
    </ion-item>
    <ion-item *ngIf="rankings.length == 0" style="text-align: center;">
      <h2 style="white-space: pre-wrap;">Não há o que ser mostrado</h2>
    </ion-item>
  </ion-list>
</ion-content>
