<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-row padding *ngIf="loading" style="text-align: center">
    <ion-spinner></ion-spinner>
    Carregando lista...
  </ion-row>
  <ion-content class="card-background-page" *ngIf="!loading">
  <ion-item *ngFor="let item of itens">
    <ion-card>

    <img src="data:image/jpeg;base64,{{item.image}}"/>

    <ion-card-content>
      <p style="white-space: pre-wrap">
        {{item.tags}}
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start (click)="know()">
          <ion-icon name='star'></ion-icon>
          Conheço
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Compartilhar
        </button>
      </ion-col>
    </ion-row>

    </ion-card>
    </ion-item>
  </ion-content>

</ion-content>
